<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2d Physics engine by Carlos</title>
    <script src="main.js"></script>
    <script src="utils.js"></script>
    <script src="init.js"></script>
</head>
<body>

    <div class="container" style="margin-left:10px">
        <button id="play" onclick="TogglePlay()">Play</button>
        <button id="Debug" onclick="ToggleDebug()">Debug</button>
        <br>
        <br>
        <canvas id="canvas" style="border:1px solid #000000; background-color:black;">
    </div>
    
</body>
</html>

</canvas>